@model  Trip_Advisor_Web.Models.CityModel
@{
    ViewBag.Title = "City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/CityStyles.css")

<h2>@Model.Name</h2>

<div class="col-lg-5 col-md-5 col-sm-5">
    <div id="map">
        @Html.Hidden("centLat", @Model.CenterLatitude);
        @Html.Hidden("centLong", Model.CenterLongitude);
    </div>
</div>



<div class="jumbotron col-lg-6 cityPlaces">
    <h4>All the places in:  @Model.Name</h4>
    
   
    <div class="container">
        @for (int i = 0; i < Model.Places.Count; i++)
        {
            <div class="panel panel-primary panels">
                <div class="head panel-heading">
                    @Html.ActionLink(@Model.Places[i].Name, "GetPlace", "Place", new { placeId = Model.Places[i].PlaceId }, new { @class = "link" })
                </div>
                <div class="panel-body">
                   <span>Rating: </span> @Model.Places[i].Rating
                </div>
            </div>

        }
    </div>

</div>

@Scripts.Render("~/Scripts/TripAdvisorScripts/GoogleMaps.js")
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB81Hi8JPgzPCSDdjLbQ0XULeb0b_lSy34&callback=initMap">
</script>