@model Trip_Advisor_Web.Models.PlaceModel

@{
    ViewBag.Title = "Place";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/PlaceStyles.css")



<div class="placeDescription jumbotron ">
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    @*<p>@Model.PlaceId</p>*@

    @*<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>*@
</div>

<div class="container action-group">
    <div class="btn-group">      
        @Html.ActionLink("I plan to visit", "UserPlansToVisitPlace", "Place", new { userId = (int)Session["Id"], placeId = Model.PlaceId }, new { @class = "btn btn-primary" })
      
        @Html.ActionLink("I visited", "UserVisitedPlace", "Place", new { userId = (int)Session["Id"], placeId = Model.PlaceId }, new { @class = "btn btn-primary" })

        @Html.ActionLink("Show nearby similar", "GetSimilarPlaces", "Place", new { userId = (int)Session["Id"], placeId = Model.PlaceId }, new { @class = "btn btn-primary" })

        @if ((int)Session["Status"] >= 9)
        {
          <button id="recommendRequest" class="btn btn-danger" data-toggle="modal" data-target="#mdl2">Update</button>
        }
    </div>
</div>

<br />

@if (Model.Pictures.Count > 0)
{
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       
            @for (int i = 1; i < Model.Pictures.Count; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }
        
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="@Url.Content(Model.Pictures.First())" alt="Image" />
        </div>
        @if (Model.Pictures.Count != 0)
        {
            for (int i = 1; i < Model.Pictures.Count; i++)
            {
                <div class="item">
                    <img src="@Url.Content(Model.Pictures[i])">
                </div>
            }
        }
    </div>
 

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
}
<br />
<br />
<br />

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading panel-info">
            Additional info
        </div>
        <div class="panel-body">
            <p><b>Location: </b>@Html.ActionLink(@Model.PlaceLocation.Name, "ReturnCity", "City", new { cityId = Model.PlaceLocation.CityId }, new { @class = "link" }) </p>
            <p><b>Distance from the city:</b> @Model.CityCenterDistance</p>
            <p><b>Rating:</b> @Model.Rating</p>
            
                @foreach (var tag in Model.Tags)
                {
                    <div id="interestTags">
                        @Html.Raw("#" + tag.Name)
                    </div>
                }
        </div>
    </div>
</div>



<br />
<div class="container">
    <div class="recommCont" id="recommendations">
        <h1>Recommendations</h1>
            @for (int i = 0; i < Model.Recommendations.Count; i++)
            {
                <table class="recommendation" id=@Model.Recommendations[i].RecommendationId>
                    <tr id="recommendationInfo">
                          <td id="recommendationAuthor">
                              @Html.ActionLink(@Model.Recommendations[i].RefferedBy.Username, "ReturnUserPanel", "User", new { userId = Model.Recommendations[i].RefferedBy.UserId }, new { @class = "link" })
                          </td>
                        <td id="recommendationRating">
                            <div id="starContainer">
                                <span class="glyphicon glyphicon-star">@Model.Recommendations[i].Rating</span>                               
                            </div>
                        </td>
                        <td id="recommendationDate">
                            @Model.Recommendations[i].RecommendationTime
                        </td>
                    </tr>
                    <tr id="recommendationText">
                        <td id="text" colspan="3">
                            @Html.DisplayTextFor(m => m.Recommendations[i].Comment)
                        </td>
                    </tr>
                    <tr id="additionalInfo">
                        <td colspan="2"></td>
                        <td id="delete">
                           @if (Model.Recommendations[i].RefferedBy.Username == (string)Session["Username"] || (int)Session["Status"] >= 9)
                           {
                              <button type="button" name="Delete" id="deleteBtn" onclick="deleteRec(@Model.Recommendations[i].RecommendationId, @Model.PlaceId)" class="btn btn-danger">Delete</button>
                           }
                        </td>
                    </tr>
                </table>

            }


        @if (Model.CurrentUserRecommends && (int)Session["Status"] < 9)
        {
            <div id="upl"><label class="nnt"></label><button id="recommendRequest" style="display: none;" class="btn btn-danger"  data-toggle="modal" data-target="#mdl">Recommend</button></div>
        }
        else
        {
            <div id="upl"><label class="nnt"></label><button id="recommendRequest" class="btn btn-danger" data-toggle="modal" data-target="#mdl">Recommend</button></div>
        }


        <div id="mdl" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content form-horizontal">
                    <br />
                 
                    <form role="form" class="form-horizontal" id="submitForm" action="/Place/RecommendPlace" method="post">
                        <input type="hidden" value=@Model.PlaceId name ="placeId" id="placeId">
                    

                        <div id="recommendationAdd">
                       
                            <label class="lbl">Comment: &nbsp;</label>
                            <textarea id="recommendationText" name="recommendationComment" class="form-control fc"></textarea>
                   
                            <span>
                                 <select id="ratingValue" form="submitForm" name="recommendationRating">
                                    <option value=1 selected>1</option>
                                     <option value=2>2</option>
                                     <option value=3>3</option>
                                     <option value=4>4</option>
                                     <option value=5>5</option>
                                     <option value=6>6</option>
                                     <option value=7>7</option>
                                     <option value=8>8</option>
                                     <option value=9>9</option>
                                     <option value=10>10</option>
                                 </select>
                            </span>
            
                            <br />                 

                            <input type="submit" id="recommendPlaceRequest" value="Recommend" class="btn btn-danger fc"  />
                        </div>
                        </form>
                 
                </div>
            </div>
        </div>



        <div id="mdl2" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content form-horizontal">
                    

                    <form role="form" class="form-horizontal" id="descForm" action="/Place/UpdateDescription" method="post">
                        <input type="hidden" value=@Model.PlaceId name="placeId" id="placeId">
                        <label class="lbl">Description: &nbsp;</label>
                        <textarea id="newDescText" name="descText" class="form-control fc">@Model.Description</textarea>
                        <input type="submit" id="descButton" value="Submit" class="btn btn-danger fc" />
                    </form>

                    <form role="form" class="form-horizontal" id="picForm" action="/Place/AddPicture" method="post" enctype = "multipart/form-data">
                        <input type="hidden" value=@Model.PlaceId name="placeId" id="placeId">
                        <label class="lbl">Add new picture: &nbsp;</label>
                        <input type="file" name="file" id="file" />
                        <input type="submit" id="picButton" value="Submit" class="btn btn-danger fc" />
                    </form>

                </div>
            </div>
        </div>



    </div>
</div>


@Scripts.Render("~/Scripts/TripAdvisorScripts/RecommendationScript.js")
