@model Trip_Advisor_Web.Models.CountryModel

@{
    ViewBag.Title = "Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="flag col-lg-6 col-sm-12 col-md-6">
    <h1 class="lbls">@Model.Name</h1>
    <img class="flagTh thumbnail" src="@Model.NationalFlag" />
    <!-- 16:9 aspect ratio -->
</div>

<div class="promVideo col-lg-6 col-sm-12 col-md-6">
    <!-- 16:9 aspect ratio -->
    <h1 class="lbls">Promotional video</h1>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="@Model.PromotionalVideoURL"></iframe>
    </div>
</div>

<div class="container">
</div>
<br />

@*treba da se promeni u kdu za kreiranje modela da se sve ove stvari novoodate popune*@
<div class="jumbotron col-lg-6">
    <h4>The most vistied places of: @Model.Name</h4>

    <div class="container">
        @for (int i = 0; i < Model.TheMostVisitedPlaces.Count; i++)
        {
            <div class="panel panel-primary">
                <div class="panel-heading panel-info">
                    @Html.ActionLink(@Model.TheMostVisitedPlaces[i].Name, "GetPlace", "Place", new { placeId = Model.TheMostVisitedPlaces[i].PlaceId }, new { @class = "link" })
                </div>
                <div class="panel-body">
                    @Model.TheMostVisitedPlaces[i].Rating
                </div>
            </div>
        }
    </div>

</div>
&nbsp;     &nbsp;

<div class="jumbotron col-lg-5">
    <h4>The top rated places of: @Model.Name</h4>

    <div class="container">
        @for (int i = 0; i < Model.TopRatedPlaces.Count; i++)
        {
            <div class="panel panel-primary">
                <div class="panel-heading panel-info">
                    @Html.ActionLink(@Model.TopRatedPlaces[i].Name, "GetPlace", "Place", new { placeId = Model.TopRatedPlaces[i].PlaceId }, new { @class = "link" })
                </div>
                <div class="panel-body">
                    @Model.TopRatedPlaces[i].Rating
                </div>
            </div>
        }
    </div>

</div>