@model Trip_Advisor_Web.Models.UserModel
@{
    ViewBag.Title = "UserPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/Content/UserPanelStyles.css")


<div id="user" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    @*ovaj div ce da sluzi za smestanje profilne slike*@
    <form method="post" action="@Url.Action("ChangeDataRequest", "Home")">
        <div id="profilePicture" class="col-lg-6 col-md-3 col-sm-3 col-xs-6">
            @{
                var test = Model.ProfilePicture;

                <img src="@Model.ProfilePicture" class="img-thumbnail" />
            }
            @Html.HiddenFor(m => m.ProfilePicture, new { })
            @if (ViewBag.Change != true && (int)Session["Id"] == @Model.UserId)
            {
                <button id="changeInfoButton" type="submit" class="btn btn-danger">Change user info</button>
            }
            else
            {

            }


            @if (Model.UserId == (int)Session["Id"])
            {
                <div id="upl"><label class="nnt"></label><button id="interests" class="btn btn-danger" @*onclick="PredloziTag()"*@ data-toggle="modal" data-target=".bs-example-modal-sm">Modify interests</button></div>


                <div id="mdl" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content form-horizontal">
                            <br />

                            <div id="recommendationAdd">
                                <div id="tagContainer">
                                </div>
                                <br />
                                <button type="button" id="recommendPlaceRequest" value="Choose tags" class="btn btn-danger fc" onclick="selectTags()">Select tags</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </form>


    @if (ViewBag.Change != true)
    {
        <div id="description" class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
            <label class="usrLbl">Username: &nbsp; </label>@Html.Label(Model.Username, new { @class = "labelsInfo" })<br />
            <label class="usrLbl">E-mail adresa:&nbsp; </label>@Html.Label(Model.Email, new { @class = "labelsInfo" })<br />
            <label class="usrLbl">Date of join: &nbsp;</label>@Html.Label(Model.DateJoined, new { @class = "labelsInfo" })<br />
            <label class="usrLbl">Short description:&nbsp;</label>@Html.Display(Model.Description, new { @class = "labelsInfo" })<br />
        </div>

    }
    else if (ViewBag.Change == true)
    {    <form method="post" action="@Url.Action("ChangeData", "Home")" enctype="multipart/form-data">
         <div id="user" class="col-lg-6 col-md-7 col-sm-4 col-xs-4">
               <label  class="usrLbl">Username: &nbsp; </label>@Html.TextBoxFor(m => m.Username, new { @class = "form-control", @name = "Username" }) <br />
               <label class="usrLbl">E-mail address:&nbsp; </label>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @name = "E-mail" })<br />
               <label class="usrLbl">Short description: &nbsp;</label>@Html.TextAreaFor(m=>m.Description, new { @class = "form-control", @name = "Description" })<br/>

               <label class="usrLbl">Add profile picture: &nbsp;</label>@Html.TextBoxFor(m => m.PictureFile, new { @type = "file", @name = "PictureFile", @class = "form-control" })

             <br />
             <br />
             <br />
            <button id="change" type="submit" class="btn btn-danger">Change user info</button>
           
            <br />
        </div>

    </form>
    }

</div>

<div class="container col-lg-6 col-md-6">
   
    @if (Model.CurrentLocation != null)
    {
        <div class="col-lg-4 col-md-4 col-sm-4 currentLocation">
            <h4>Current location</h4><br />
            <img class="thumbnail" src="@Model.CurrentLocation.Pictures[0]" />
            <h4>@Html.ActionLink(@Model.CurrentLocation.Name, "GetPlaceById", "Place", new { placeId = @Model.CurrentLocation.PlaceId }, null)</h4>
        </div>
    }
    else
    {
        <div class="col-lg-4 col-md-4 col-sm-4 currentLocation">
            <h4>No current location</h4><br />
        </div>

    }
    <div class="btnCont col-lg-6 col-md-2 col-sm-1">
        <br />
        <span>
            @if (Model.UserId == (int)Session["Id"])
            {

                @Html.ActionLink("View popular places", "GetTopVisitedPlaces", "Place", null, new { @class = "popPlc usrBtns btn btn-info" })
              
                @Html.ActionLink("View top rated places", "GetTopRatedPlaces", "Place", null, new { @class = "btn btn-info usrBtns" })
            }
           
         
            @Html.ActionLink("User visited", "UserVisited", "Place", new { userId = Model.UserId }, new { @class = "usrBtns btn btn-info link" })

           
            @Html.ActionLink("User plans to visit", "UserPlansToVisit", "Place", new { userId = Model.UserId }, new { @class = "usrBtns btn btn-info link" })


            @if (Model.UserId != (int)Session["Id"])
            {
                if (!Model.FollowingHim)
                {

                    <button type="button" name="Follow" id="followBtn" class="btn btn-primary">Follow</button>

                }
                else
                {
                    <button type="button" name="Unfollow" id="followBtn" class="btn btn-primary">Unfollow</button>
                }
            }
        </span>

        <br />
    </div>
</div>


<div class="container col-lg-11 col-md-12" id="userPanelList">
    @if (Model.UserId == (int)Session["Id"])
    {
    <div class="container col-lg-3 col-md-3 currentlyList">
        <h4>Friends at the same city currently:</h4>
            @foreach (var user in Model.UsersCurrentlyAtTheSamePlace)
            {
                @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
                <br />
            }       
    </div>
    }   
    <div class="container col-lg-4 col-md-3 followersList">
        <h4> Followers:</h4>
        @foreach (var user in Model.Followers)
        {
            @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
            <br />
        }
    </div>
    <div class="container col-lg-3 col-md-3 followersList">
        <h4> Followings:</h4>
        @foreach (var user in Model.Following)
        {
            @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
            <br />
        }

    </div>
</div>

@Html.Hidden("userIdHid", Model.UserId)

@Scripts.Render("~/Scripts/TripAdvisorScripts/UserPanelScript.js")
