@model Trip_Advisor_Web.Models.UserModel
@{
    ViewBag.Title = "UserPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="user" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    @*ovaj div ce da sluzi za smestanje profilne slike*@
    <form method="post" action="@Url.Action("ChangeDataRequest", "Home")">
        <div id="profilePicture" class="col-lg-6 col-md-3 col-sm-3 col-xs-6">
            @{
                var test = Model.ProfilePicture;

                <img src="@Model.ProfilePicture" class="img-thumbnail" />
            }
            @Html.HiddenFor(m => m.ProfilePicture, new { })
            @if (ViewBag.Change != true && (int)Session["Id"] == @Model.UserId)
            {
                <button id="changeInfoButton" type="submit" class="btn btn-danger">Change user info</button>
            }
            else
            {

            }


            @if (Model.UserId == (int)Session["Id"])
            {
                <div id="upl"><label class="nnt"></label><button id="interests" class="btn btn-danger" @*onclick="PredloziTag()"*@ data-toggle="modal" data-target=".bs-example-modal-sm">Modify interests</button></div>


                <div id="mdl" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content form-horizontal">
                            <br />

                            <div id="recommendationAdd">
                                <div id="tagContainer">
                                </div>
                                <br />
                                <button type="button" id="recommendPlaceRequest" value="Choose tags" class="btn btn-danger fc" onclick="selectTags()">Select tags</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </form>


    @if (ViewBag.Change != true)
    {
        <div id="description" class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
            <label>Username: &nbsp; </label>@Html.DisplayTextFor(m => m.Username)<br />
            <label>E-mail adresa:&nbsp; </label>@Html.DisplayTextFor(m => m.Email)<br />
        </div>

    }
    else if (ViewBag.Change == true)
    {    <form method="post" action="@Url.Action("ChangeData", "Home")" enctype="multipart/form-data">
         <div id="user" class="col-lg-6 col-md-7 col-sm-4 col-xs-4">
               <label>Username: &nbsp; </label>@Html.TextBoxFor(m => m.Username, new { @class = "form-control", @name = "Username" }) <br />
               <label>E-mail address:&nbsp; </label>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @name = "E-mail" })<br />
               <label>Add profile picture: &nbsp;</label>@Html.TextBoxFor(m => m.PictureFile, new { @type = "file", @name = "PictureFile", @class = "form-control" })


             <br />
             <br />
             <br />
            <button id="change" type="submit" class="btn btn-danger">Change user info</button>
            @Html.ActionLink("ChangeInfo", "ChangeInfo", "Home", new { user = @Model }, null)
            <br />
        </div>

    </form>
    }

</div>

<div class="container col-lg-6 col-md-6">
   
    @if (Model.CurrentLocation != null)
    {
        <div class="col-lg-4 col-md-4 col-sm-4 currentLocation">
            <h4>Current location: </h4><br />
            <img class="thumbnail" src="@Model.CurrentLocation.Pictures[0]" />
            <h4>@Html.ActionLink(@Model.CurrentLocation.Name, "GetPlaceById", "Place", new { placeId = @Model.CurrentLocation.PlaceId }, null)</h4>
        </div>
    }
    else
    {
        <div class="col-lg-4 col-md-4 col-sm-4 currentLocation">
            <h4>No current location</h4><br />
        </div>

    }
    <div class="col-lg-1 col-md-2 col-sm-1">
        <br />

        <span>
            @if (Model.UserId == (int)Session["Id"])
            {

                @Html.ActionLink("View popular places", "GetTopVisitedPlaces", "Place", null, new { @class = "btn btn-info" })
                string strSpacer = "&nbsp;&nbsp;";
                @Html.Raw(strSpacer);

                @Html.ActionLink("View top rated places", "GetTopRatedPlaces", "Place", null, new { @class = "btn btn-info" })
            }
           
            <br />
            @Html.ActionLink("User visited", "UserVisited", "Place", new { userId = Model.UserId }, new { @class = "btn btn-info link" })

            @Html.Raw("&nbsp;&nbsp;")
            @Html.ActionLink("User plans to visit", "UserPlansToVisit", "Place", new { userId = Model.UserId }, new { @class = "btn btn-info link" })


            @if (Model.UserId != (int)Session["Id"])
            {
                if (!Model.FollowingHim)
                {

                    <button type="button" name="Follow" id="followBtn" class="btn btn-primary">Follow</button>

                }
                else
                {
                    <button type="button" name="Unfollow" id="followBtn" class="btn btn-primary">Unfollow</button>
                }
            }
        </span>

        <br />
    </div>
</div>


<div class="container col-lg-11 col-md-12" id="userPanelList">
    @if (Model.UserId == (int)Session["Id"])
    {
    <div class="container col-lg-3 col-md-3 currentlyList">
        <h4>Friends at the same city currently:</h4>
            @foreach (var user in Model.UsersCurrentlyAtTheSamePlace)
            {
                @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
                <br />
            }       
    </div>
    }   
    <div class="container col-lg-4 col-md-3 followersList">
        <h4> Followers:</h4>
        @foreach (var user in Model.Followers)
        {
            @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
            <br />
        }
    </div>
    <div class="container col-lg-3 col-md-3 followersList">
        <h4> Followings:</h4>
        @foreach (var user in Model.Following)
        {
            @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
            <br />
        }

    </div>
</div>





@Styles.Render("~/Content/UserPanelStyles.css")

<script type="text/javascript">
    {
        $('#followBtn').on('click', function () {
            var action = $('#followBtn').attr("name");

            if (action == "Follow")
            {
                $.post("/User/Follow", { userId: @Model.UserId }, function (data) {
                    $('#followBtn').attr("name", "Unfollow");
                    $('#followBtn').text("Unfollow");
                });
            }
            else
            {
                $.post("/User/Unfollow", { userId: @Model.UserId }, function (data) {
                    $('#followBtn').attr("name", "Follow");
                    $('#followBtn').text("Follow");
                });
            }

        });

        function selectTags()
        {
            var parentContainter = document.getElementById('tagContainer');
            var interestTagNames = new Array();

            var children = parentContainter.children;

            for (var i = 0; i < children.length; i++) {
                if(children[i].getAttribute("type")=="checkbox")
                {
                    if(children[i].checked==true){
                        interestTagNames.push(children[i].getAttribute("value"));
                    }
                }
            }

            var userId = @Model.UserId;

            $.post("/User/AddInterestTags", {userId:userId, interestTagNames:interestTagNames}, function (data) {
                $('#mdl').modal('hide');
                $('#tagContainer').empty();
            }) 


       
        }

        $('#interests').click(function(){      
            $.post("/Home/ReturnAllInterestTags",  function (data) {
                $.each(data, function (index) {
                    var label = document.createElement("label");
                    label.innerHTML = data[index];
                    label.for = "check"+index;


                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.value = data[index];
                    input.name = data[index];
                    label.id = "check"+ index;
                    
                    var br = document.createElement("br");

                    var parent = document.getElementById("tagContainer");
                    parent.appendChild(input);
                    parent.appendChild(label);
                    parent.appendChild(br);
                    
                });
            });        
        
        });
    }
</script>
