@model Trip_Advisor_Web.Models.UserModel
@{
    ViewBag.Title = "UserPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/Content/UserPanelStyles.css")


<div id="user" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    @*ovaj div ce da sluzi za smestanje profilne slike*@
    <form method="post" action="@Url.Action("ChangeDataRequest", "Home")">
        <div id="profilePicture" class="col-lg-6 col-md-3 col-sm-3 col-xs-6">
            @{
                var test = Model.ProfilePicture;

                <img src="@Model.ProfilePicture" class="img-thumbnail" />
            }
            @Html.HiddenFor(m => m.ProfilePicture, new { })
            


            @if (Model.UserId == (int)Session["Id"])
            {
                <div id="upl">
                    <label class="nnt"></label><button id="interests" class="btn btn-primary"  data-toggle="modal" data-target="#mdl">Modify interests</button>
                @if (ViewBag.Change != true && (int)Session["Id"] == @Model.UserId)
                {
                    <button id="changeInfoButton" type="submit" class="btn btn-primary">Update profile</button>
                }
                else
                {

                }
                </div>
                <div id="upl"><label class="nnt"></label><button id="inboxBtn" onclick="inboxClick(@Session["Id"])" class="btn btn-warning" data-toggle="modal" data-target="#modalInbox">Inbox</button></div>


                <div id="mdl" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content form-horizontal">
                            <br />

                            <div id="recommendationAdd">
                                <ul id="tagContainer"  style="list-style-type:none">
                                   
                                </ul>
                                <button type="button" id="recommendPlaceRequest" value="Select tags" class="btn btn-danger fc" onclick="selectTags(@Model.UserId)">Select tags</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </form>


    @if (ViewBag.Change != true)
    {
        <div id="descriptions" class="col-lg-6 col-md-8 col-sm-8 col-xs-6 desc">
            <label class="usrLbl">Username: &nbsp; </label>@Html.Label(Model.Username, new { @class = "labelsInfo" })<br />
            @*<label class="usrLbl">E-mail:&nbsp; </label>@Html.Label(Model.Email, new { @class = "labelsInfo" })<br />*@
            <label class="usrLbl">Joined: &nbsp;</label>@Html.Label(Model.DateJoined, new { @class = "labelsInfo" })<br />
            <label class="usrLbl">About @Model.Username:&nbsp; </label> <br /> 
            <p id="description">@Model.Description </p><br />
        </div>

    }
    else if (ViewBag.Change == true)
    {    <form method="post" action="@Url.Action("ChangeData", "Home")" enctype="multipart/form-data">
         <div id="user" class="col-lg-6 col-md-7 col-sm-4 col-xs-4">
               <label  class="usrLbl">Username: &nbsp; </label>@Html.TextBoxFor(m => m.Username, new { @class = "form-control", @name = "Username" }) <br />
               @*<label class="usrLbl">E-mail:&nbsp; </label>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @name = "E-mail" })<br />*@
               <label class="usrLbl">About me: &nbsp;</label>@Html.TextAreaFor(m=>m.Description, new { @class = "form-control", @name = "Description" })<br/>

               <label class="usrLbl">Add profile picture: &nbsp;</label>@Html.TextBoxFor(m => m.PictureFile, new { @type = "file", @name = "PictureFile", @class = "form-control" })

             <br />
             <br />
             <br />
            <button id="change" type="submit" class="btn btn-primary">Submit</button>
           
            <br />
        </div>

    </form>
    }

</div>

<div class="container col-lg-6 col-md-6">
   
    @if (Model.CurrentLocation != null)
    {
        <div class="col-lg-4 col-md-4 col-sm-4 currentLocation">
            <h4>Current location</h4><br />
            @*<img class="thumbnail" src="@Model.CurrentLocation.Pictures[0]" />*@
            <h4>@Html.ActionLink(@Model.CurrentLocation.Name, "ReturnCity", "City", new { cityId = @Model.CurrentLocation.CityId }, null)</h4>
        </div>
    }
    else
    {
        <div class="col-lg-4 col-md-4 col-sm-4 currentLocation">
            <h4>No current location</h4><br />
        </div>

    }
    <div class="btnCont controls col-lg-6 col-md-2 col-sm-1">
        <br />
        <div>
            <label id="controlsLbl">Links</label>
            @if (Model.UserId == (int)Session["Id"])
            {

                @Html.ActionLink("View popular places", "GetTopVisitedPlaces", "Place", null, new { @class = "popPlc usrBtns btn btn-info" })
          
                @Html.ActionLink("View top rated places", "GetTopRatedPlaces", "Place", null, new { @class = "usrBtns btn btn-info link " })
              
                @Html.ActionLink("View top popular countries", "ReturnTopVisitedCountries", "Country", null, new { @class = "usrBtns btn btn-info link" })
            
                @Html.ActionLink("View top rated countries", "ReturnTopRatedCountries", "Country", null, new { @class = "usrBtns btn btn-info link " })
            }
           
         
            @Html.ActionLink(Model.Username+" visited", "UserVisited", "Place", new { userId = Model.UserId }, new { @class = "usrBtns btn btn-info link" })
                       
            @Html.ActionLink(Model.Username+" plans to visit", "UserPlansToVisit", "Place", new { userId = Model.UserId }, new { @class = "usrBtns btn btn-info link" })

            @if (Model.UserId != (int)Session["Id"])
            {
                <div class="btnCont controls">
                    <label id="controlsLbl">Controls</label>
                    <br />

                    @if ((int)Session["Status"] >= 9)
                    {
                        if (Model.UserStatusFLAG >= 2)
                        {
                            <button type="button" name="Suspend" id="suspendBtn" onclick="suspendOrUns(@Model.UserId)" class="btn btn-danger">Suspend</button>
                        }
                        else
                        {
                            <button type="button" name="Unsuspend" id="suspendBtn" onclick="suspendOrUns(@Model.UserId)" class="btn btn-primary">Unsuspend</button>
                        }
                    }


                    @if (!Model.FollowingHim)
                    {

                        <button type="button" name="Follow" id="followBtn" onclick="followOrUnfollow(@Model.UserId)" class="btn btn-primary">Follow</button>

                    }
                    else
                    {
                        <button type="button" name="Unfollow" id="followBtn" onclick="followOrUnfollow(@Model.UserId)" class="btn btn-primary">Unfollow</button>
                    }


                    @if ((int)Session["Status"] == 10)
                    {
                        if (Model.UserStatusFLAG < 9)
                        {
                            <button type="button" name="Mod" id="modBtn" onclick="modOrUnmod(@Model.UserId)" class="btn btn-primary">Promote to moderator</button>
                        }
                        else
                        {
                            <button type="button" name="Unmod" id="modBtn" onclick="modOrUnmod(@Model.UserId)" class="btn btn-danger">Demote</button>

                        }
                    }


                    <div id="SendModalToggle"><label class="nnt"></label><button id="sendMsgModal" class="btn btn-primary" data-toggle="modal" data-target="#modalCompose">Send message</button></div>

                    @*<div class="modal show" id="modalCompose">*@
                    <div id="modalCompose" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Compose Message</h4>
                                </div>
                                <div class="modal-body">

                                    <table id="messageTable">
                                        <tr id="usern">
                                            <td id="to">
                                                <label>To: </label>
                                            </td>
                                            <td>
                                                <input type="hidden" value=@Model.Username name="receiver" id="receiver">
                                                <label class="col-sm-2">@Model.Username</label>
                                            </td>
                                        </tr>
                                        <tr id="subj">
                                            <td><label>Subject: </label></td>
                                            <td>
                                                <input type="text" class="form-control" id="inputSubject" placeholder="subject" name="subject">
                                            </td>
                                        </tr>
                                        <tr id="messageText">
                                            <td><label>Message: </label></td>
                                            <td>
                                                <textarea class="form-control" id="inputBody" name="body"></textarea>
                                            </td>
                                        </tr>
                                    </table>

                                    @*</form>*@
                                </div>
                                <div class="modal-footer" id="sendMdlFooter">
                                    <button type="button" onclick="ClearSendModal()" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                                    @*<button type="button" class="btn btn-warning pull-left">Save Draft</button>*@
                                    @*<button type="submit" form="sendForm" class="btn btn-primary ">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>*@
                                    <button type="button" class="btn btn-primary" onclick="SendMessage()">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
                                    <div id="warnings">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
           
        </div>

        <br />
    </div>
    
       
</div>


<div class="container col-lg-11 col-md-12" id="userPanelList">
    @if (Model.UserId == (int)Session["Id"])
    {
    <div class="container col-lg-3 col-md-3 currentlyList">
        <h4>Friends at the same city currently:</h4>
            @foreach (var user in Model.UsersCurrentlyAtTheSamePlace)
            {
                @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
                <br />
            }       
    </div>
    }   
    <div class="container col-lg-4 col-md-3 followersList">
        <h4> Followers:</h4>
        @foreach (var user in Model.Followers)
        {
            @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
            <br />
        }
    </div>
    <div class="container col-lg-3 col-md-3 followersList">
        <h4> Followings:</h4>
        @foreach (var user in Model.Following)
        {
            @Html.ActionLink(user.Username, "ReturnUserPanel", "User", new { userId = user.UserId }, null);
            <br />
        }

    </div>


    @if (Session["Id"] != null)
    {
        <div id="modalInbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body">
                        <div class="messageListCont">
                            <label>Inbox</label>
                            <ul id="listOfMessages" style="list-style: none;"></ul>
                        </div>
                        <div id="messageDetails" class="message">
                            <table id="messageTable" class="table table-striped">
                                <tbody>
                                    <tr id="usern" class="messageDetails">
                                        <td id="to">
                                            <label>From: </label>
                                        </td>
                                        <td id="fromContainer"></td>
                                    </tr>
                                    <tr id="subj" class="messageDetails">
                                        <td><label>Subject: </label></td>
                                        <td id="subjectContainer"></td>
                                    </tr>
                                    <tr id="messageDate" class="messageDetails">
                                        <td><label>Date: </label></td>
                                        <td id="dateContainer"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="messageTable">
                                <tr class="messageDetails">
                                    <td><label>Message text:</label></td>
                                </tr>
                                <tr class="messageDetails">
                                    <td id="messageContainer"></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>


@Scripts.Render("~/Scripts/TripAdvisorScripts/UserPanelScript.js")
@Scripts.Render("~/Scripts/TripAdvisorScripts/MessagesScript.js")
